= form_for(@product) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :brand_id
    %br/
    = f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :name, :selected => @product.brand_id), :include_blank => true
  .field
    = f.label :type_id
    %br/
    = f.select :type_id, options_from_collection_for_select(Type.all, :id, :name, :selected => @product.type_id), :include_blank => true
  .field
    = f.label :store_id
    %br/
    = f.select :store_id, options_from_collection_for_select(Store.all, :id, :name, :selected => @product.store_id), :include_blank => true
  .field
    = f.label :price
    %br/
    = f.text_field :price
  .field
    = f.label :quantity
    %br/
    = f.number_field :quantity
  .actions
    = f.submit
